<h1 mat-dialog-title>Confirmación</h1>
<div mat-dialog-content>
    <img [src]="photo" class="size_image" alt="Imagen del Cliente no disponible">
    <!--<img src="../../../assets/img/user.png" class="size_image" alt="Imagen del Cliente no disponible">-->
    <div class="grid">
        <div class="column"> 
            <h3 style="font-weight: bold;">Nombre:</h3> {{ data.nombre }}
        </div>

        <div class="column"> 
            <h3 style="font-weight: bold;">Sucursal:</h3> {{ data.sucursal }}
        </div>

        <div class="column"> 
            <h3 style="font-weight: bold;">Membresia:</h3> {{ data.membresia }}
        </div>

        <div class="column"> 
            <h3 style="font-weight: bold;">Duración:</h3> {{ this.duracion }}
        </div>

        <div class="column"> 
            <h3 style="font-weight: bold;">Información de la membresia:</h3> {{ data.infoMembresia }}
        </div>
    </div>
</div>
<div mat-dialog-actions fxLayoutAlign="center center">
    <button mat-button (click)="abrirDialogFoto(data)" (click)="cerrarDialogo()">Tomar Foto</button>
    <button mat-button (click)="cerrarDialogo()">Cerrar</button>
</div>