.grid-menu{
  display: grid;
  grid-template-columns: 85%;
}

.full-width {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
}

/**propiedades contendor margen**/
.content_margin {
  width: 100%;
  margin: auto;
  background-color: aqua;
}