<h1 mat-dialog-title>Cerrar caja</h1>
<div mat-dialog-content>
    <p>{{mensaje}}</p>
</div>
<div mat-dialog-actions fxLayoutAlign="center center">
    <button style="background-color: rgb(0, 0, 0); border-color: rgb(0, 0, 0); color: blanchedalmond; width: 100px; margin-right: 20px; border-radius: 5px;" mat-button (click)="cerrarDialogo()">Cancelar</button>
<button style="background-color: blue; border-color: blue; color: blanchedalmond; width: 100px; border-radius: 5px;" (click)="confirmado()" cdkFocusInitial>Aceptar</button>

</div>

