
<h1 mat-dialog-title>Actualizar Membresia</h1>
<div mat-dialog-content>
    <form>
        <br>
        <div class="grid">
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput [value]="data.nombre" [disabled]='true'>
                </mat-form-field>
            </div>
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Sucursal</mat-label>
                    <input matInput [value]="data.sucursal" [disabled]='true'>
                </mat-form-field>
            </div>

            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label for="membresiaSelect">Membresía</mat-label>
                    <!-- Si this.data.action es 'Online', mostrar un input -->
                    <input matInput *ngIf="this.data.action === 'Online'" type="text" [value]="this.data.membresia" [disabled]='true'>

                    <!-- Si this.data.action no es 'Online', mostrar el mat-select -->
                    <mat-select *ngIf="this.data.action !== 'Online'" id="membresiaSelect" name="membresiaSelect" [(ngModel)]="membresiaSeleccionada" (ngModelChange)="onMembresiaChange()"> <!---id="membresiaSelect"-->
                        <mat-option *ngFor="let membresia of membresias" [value]="membresia.IDmembresia">
                        {{ membresia.Membresia }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Precio</mat-label>
                    <input matInput [value]="this.precio" [disabled]='true'>
                </mat-form-field>
            </div>
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Duración</mat-label>
                    <input matInput [value]="this.duracion" [disabled]='true'>
                </mat-form-field>
            </div>
            <div class="column">
                <mat-form-field appearance="outline">
                    <mat-label>Dinero recibido</mat-label>
                    <input matInput [(ngModel)]="this.moneyRecibido" [ngModelOptions]="{standalone: true}" type="number" min="0" placeholder="0">
                </mat-form-field>
            </div>
            <div class="column" mat-dialog-actions fxLayoutAlign="center center">
                <button style="background-color: #F9A640" mat-button (click)="successDialog()"><mat-icon>attach_money</mat-icon>Pagar</button>
            </div>
            <div class="column" mat-dialog-actions fxLayoutAlign="center center">
                <button  style="background-color: #000000; color: #ffffff" mat-button (click)="cancelDialogo()"><mat-icon>cancel</mat-icon>Cerrar</button>
            </div>
        </div>
      </form>
</div>
