.button-cancel{
    background-color: rgb(0, 0, 0); 
    border-color: rgb(0, 0, 0); 
    /*color: rgb(225, 235,205);*/ 
    width: 110px; 
    margin-right: 20px;
    border-radius: 5px;
}

.button-success{
    background-color: #f9a640; 
    border-color: #f9a640; 
    /*color: rgb(225, 235,205); */
    width: 110px; 
    border-radius: 5px;
}