<div class="container mt-4">
    <h1>CAJA</h1>
    <div *ngIf="detallesCaja.length > 0">
       <!-- Verifica si hay detalles de la caja para mostrar -->
       <div class="row">
          <div class="col-sm-4">
             <button class="open-cash-register" routerLink="../home" >
             <span class="icon"></span>
             <span class="btn-text" style="color: black;margin-left: 20px;">ABRIR CAJA</span>
             </button>
          </div>
          <!------------------------------------------------------------------------------------------------->
          <div class="col-sm-4">
             <button class="close-cash-register" style="margin-left: 20px;" (click)="actualizarCaja()" >
             <span class="icon"></span>
             <span class="btn-text" style="color: rgb(255, 255, 255);margin-left: 20px;">CERRAR CAJA</span>
             </button>
          </div>
          <!------------------------------------------------------------------------------------------------->
          <div class="col-sm-4">
             <button class="ver-cash-register" style="float: right;" routerLink="../verCorte">
             <span class="icon"></span>
             <span class="btn-text" style="color: rgb(255, 255, 255);margin-left: 20px;">VER CORTE</span>
             </button>
          </div>
       </div>
       <br>
       <div class="row">
          <div class="col-sm-6">
             <p>Filtro por fecha:</p>
             <select [(ngModel)]="opcionSeleccionada" style="margin-right: 20px;">
             <option value="diario">Diario</option>
             <option value="rango">Rango Personalizado</option>
             </select>
             <ng-container *ngIf="opcionSeleccionada === 'diario'">
                <input type="date" [(ngModel)]="fechaFiltro" (change)="aplicarFiltro()" class="input-date" style="margin-right: 20px;">
             </ng-container>
             <ng-container *ngIf="opcionSeleccionada === 'rango'">
                <input type="date" [(ngModel)]="fechaInicio" (change)="aplicarFiltross()" class="input-date">
                <input type="date" [(ngModel)]="fechaFin" (change)="aplicarFiltross()" class="input-date">
             </ng-container>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
             <br>
             <p>Filtro por producto:</p>
             <div class="search-container">
                <input style="padding-left: 35px;"
                type="text"
                placeholder="Buscar por concepto"
                (keyup)="applyFilter($event)"
                #input
                />
                <i class="material-icons search-ico">search</i>
             </div>
          </div>
          
       </div>
       <br><br>
       <mat-tab-group>
          <mat-tab label="Caja actual"> 
            <div class="container">
                <br>
                <h2>Corte de caja</h2>
                <br>
                <div style="display: flex; justify-content: flex-end;">
                    <button mat-button [matMenuTriggerFor]="menu" class="download-button">
                      <mat-icon class="download-icon">cloud_download</mat-icon>
                      <span class="download-text">Descargar Reporte</span>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="descargarPDF()">.pdf</button>
                      <button mat-menu-item (click)="descargarExcel()">.xlsx</button>
                    </mat-menu>
                  </div>
                  
                <br>
                <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
                    <ng-container matColumnDef="nombreProducto">
                      <th mat-header-cell *matHeaderCellDef> Nombre Producto </th>
                      <td mat-cell *matCellDef="let detalle"> {{ detalle.nombreProducto }} </td>
                    </ng-container>
                    <ng-container matColumnDef="cantidadElegida">
                      <th mat-header-cell *matHeaderCellDef> Cantidad Elegida </th>
                      <td mat-cell *matCellDef="let detalle"> {{ detalle.cantidadElegida }} </td>
                    </ng-container>
                    <ng-container matColumnDef="precioUnitario">
                      <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
                      <td mat-cell *matCellDef="let detalle"> {{ detalle.precioUnitario }} </td>
                    </ng-container>
                    <ng-container matColumnDef="fechaVenta">
                      <th mat-header-cell *matHeaderCellDef> Fecha Venta </th>
                      <td mat-cell *matCellDef="let detalle"> {{ detalle.fechaVenta }} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                  </table>
                  <mat-paginator #paginatorCaja [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
              </div>
              <br><br><br>
          </mat-tab>
          <mat-tab label="Historial caja">
            <br><br>
                <h2>Historial de caja</h2>
                <br>
                <div style="display: flex; justify-content: flex-end;">
                    <button mat-button [matMenuTriggerFor]="menu2" class="download-button">
                      <mat-icon class="download-icon">cloud_download</mat-icon>
                      <span class="download-text">Descargar Reporte</span>
                    </button>
                    <mat-menu #menu2="matMenu">
                        <button mat-menu-item (click)="descargarPDF2()">.pdf</button>
                        <button mat-menu-item (click)="descargarExcel2()">.xlsx</button>
                    </mat-menu>
                </div>
                  <br>
             <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="nombreProducto">
                   <th mat-header-cell *matHeaderCellDef> Nombre Producto </th>
                   <td mat-cell *matCellDef="let detalle"> {{ detalle.nombreProducto }} </td>
                </ng-container>
                <ng-container matColumnDef="cantidadElegida">
                   <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                   <td mat-cell *matCellDef="let detalle"> {{ detalle.cantidadElegida }} </td>
                </ng-container>
                <ng-container matColumnDef="precioUnitario">
                   <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
                   <td mat-cell *matCellDef="let detalle"> {{ detalle.precioUnitario }} </td>
                </ng-container>
                <ng-container matColumnDef="fechaVenta">
                   <th mat-header-cell *matHeaderCellDef> Fecha </th>
                   <td mat-cell *matCellDef="let detalle"> {{ detalle.fechaVenta }} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnas; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
             </table>
             <mat-paginator #paginatorHistorial [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
             <br><br><br>
          </mat-tab>
       </mat-tab-group>
    </div>
    <div *ngIf="detallesCaja.length === 0">
      <div class="row">
         <div class="col-sm-4">
            <button class="open-cash-register" routerLink="../home" >
            <span class="icon"></span>
            <span class="btn-text" style="color: black;margin-left: 20px;">ABRIR CAJA</span>
            </button>
         </div>
         <!------------------------------------------------------------------------------------------------->
         <div class="col-sm-4">
            <button class="close-cash-register" style="margin-left: 20px;" (click)="actualizarCaja()" >
            <span class="icon"></span>
            <span class="btn-text" style="color: rgb(255, 255, 255);margin-left: 20px;">CERRAR CAJA</span>
            </button>
         </div>
         <!------------------------------------------------------------------------------------------------->
         <div class="col-sm-4">
            <button class="ver-cash-register" style="float: right;" routerLink="../verCorte">
            <span class="icon"></span>
            <span class="btn-text" style="color: rgb(255, 255, 255);margin-left: 20px;">VER CORTE</span>
            </button>
         </div>
      </div>
       <br>
       <p class="no-details-message" >No hay detalles disponibles para esta caja.</p>
    </div>
 </div>